{% extends 'base.html.twig' %}

{% block title %}New TICKET{% endblock %}

{% block body %}
    <h1>Create new TICKET</h1>

    {{ include('ticket/_form.html.twig') }}

    <a href="{{ path('app_t_i_c_k_e_t_index') }}">back to list</a>
{% endblock %}
